*.*
*
!*/
!Makefile
!*.mk
!*.scala
!*.[cSh]
!*.v
!*.cpp
!*.hpp
!*.cc
!*.nxdc
!*.mk
!.gitignore
!.scalafmt.conf
!README.md
build/

!libcapstone.so.5
!riscv32-nemu-interpreter-so

# mill
!mill
!*.mill
!.mill-version
out/
.bsp/
.idea/
.idea_modules/
test_run_dir/
